
.button {
    margin: 0 auto;
    width: 100px;
    display: block;  
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

h1 a{
    color: green;
    text-decoration: none;
    
}

#title a:hover{
    background-color: white;
}

table {
    background-color: rgba(186, 221, 103, 0.329);
    margin: 40px auto;
}

table th,td {
    text-align: left;
    padding: 10px 10px;
}

.highlight{
    font-size: 1.1em;
    text-decoration: underline;
}

.centered {
    text-align:center;
}

.top_list {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.dashboard {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 75%;
    margin: auto;
    
}


/* .top_list ol{
    padding-top: 5px;
} */

.player_info{
    width: 75%;
    border-collapse: collapse;
}

.player_info tbody tr:nth-child(even){
    background-color: white;
}

a{
    color:black;
}

a:hover{
    background-color:rgba(186, 221, 103, 0.329);
}

ol {
   background-color: rgba(186, 221, 103, 0.329);
}


@media screen and (max-width: 500px) {
    .player_info thead{
        display:none;
    }

    .player_info, .player_info tbody, .player_info tr, .player_info td{
        display: block;
        width: 100%;
    }
    
    .player_info td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .player_info td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 14px;
        text-align: left;
        font-weight: bold;
    }
    
}