
.button {
    margin: 0 auto;
    width: 100px;
    display: block;  
}

body {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

h1 a{
    color: green;
    text-decoration: none;
    
}

h1 a:hover{
    background-color: white;
}

table {
    background-color: rgba(186, 221, 103, 0.329);
    margin: 40px auto;
    min-width: 600px;
}

table th,td {
    text-align: left;
    padding: 10px 10px;
}

.highlight{
    font-size: 1.1em;
    text-decoration: underline;
}

.centered {
    text-align:center;
}

.top_list {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

a{
    color:black;
}

a:hover{
    background-color:rgba(186, 221, 103, 0.329);
}

ol {
   background-color: rgba(186, 221, 103, 0.329);
}


@media
only screen and (max-width: 760), (min-device-width: 768) and (max-device-width: 1024px) {
    table, th, td, tr{
        display: block;
    }

    th{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td {
        border: none;
        border-bottom: 1px solid green;
        position: relative;
        padding-left: 50%
    }

    td::before{
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    td:nth-of-type(1)::before{ content: "Against" }
    td:nth-of-type(1)::before{ content: "Goals" }
    td:nth-of-type(1)::before{ content: "xG" }
    td:nth-of-type(1)::before{ content: "npxG" }
    td:nth-of-type(1)::before{ content: "Assists" }
    td:nth-of-type(1)::before{ content: "xA" }
    td:nth-of-type(1)::before{ content: "KP" }
    

}