{% extends "base.html" %}

{% block content %}

<a class="button" href="{{url_for('index')}}">back</a>

<div class="player">
    <h2 class="centered">{{player.name}}</h2>
    <table class ="player_info">
        <thead>
            <th>Against</th>
            <th>TP</th>
            <th>Goals</th>
            <th>Shots</th>
            <th>xG</th>
            <th>npxG</th>
            <th>Assists</th>
            <th>xA</th>
            <th>KP</th>
        </thead>
        <tbody>
            {% for performance in player.performances %}
        
            <tr>
                <td data-label="Against">
                    {% if player.team == performance.match.home_team %}
                    {{performance.match.away_team}} (H)
                    {% else %}
                    {{performance.match.home_team}} (A)
                    {% endif %}
                    <p>{{performance.match.date}}</p>
                </td>
                {% if performance.xG is not none %}
                <td data-label="TP">{{performance.time}}</td>
                <td data-label="Goals" class="highlight">{{performance.goals}}</td>
                <td data-label="Shots">{{performance.shots}}</td>
                <td data-label="xG">{{performance.xG | round(2, 'common')}}</td>
                <td data-label="npxG">{{performance.npxG | round(2, 'common')}}</td>
                <td data-label="Assists" class="highlight">{{performance.assists}}</td>
                <td data-label="xA">{{performance.xA | round(2, 'common')}}</td>
                <td data-label="KP">{{performance.key_passes}}</td>
                {% else %}
                <td data-label="TP">-</td>
                <td data-label="Goals">-</td>
                <td data-label="xG">-</td>
                <td data-label="npxG">-</td>
                <td data-label="Assists">-</td>
                <td data-label="xA">-</td>
                <td data-label="KP">-</td>
                {% endif %}
            </tr>
        
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}