{% extends "base.html" %}

{% block content %}

<a class="button" href="{{url_for('index')}}">back</a>

<div class="player">
    <h2 class="centered">{{player.name}}</h2>
    <table class ="player_info">
        <thead>
            <th>Against</th>
            <th>Goals</th>
            <th>xG</th>
            <th>npxG</th>
            <th>Assists</th>
            <th>xA</th>
            <th>KP</th>
        </thead>
        <tbody>
            {% for match in player.matches %}
        
            <tr>
            
                <td data-label="Against">
                    {% if player.team == match.h_team %}
                    {{match.a_team}} (H)
                    {% else %}
                    {{match.h_team}} (A)
                    {% endif %}
                    <p>{{match.date}}</p>
                </td>
                <td data-label="Goals" class="highlight">{{match.goals}}</td>
                <td data-label="xG">{{match.xG | round(2, 'common')}}</td>
                <td data-label="npxG">{{match.npxG | round(2, 'common')}}</td>
                <td data-label="Assists" class="highlight">{{match.assists}}</td>
                <td data-label="xA">{{match.xA | round(2, 'common')}}</td>
                <td data-label="KP">{{match.key_passes}}</td>
            </tr>
        
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}